@{
    ViewData["Title"] = "Home Page";
}

<div class="navbar-header">
    <a class="navbar-brand" href="#">ZATP</a>
</div>
<div id="navbar" class="websdktest">
    <form class="navbar-form navbar-right" id="meeting_form">
        <div class="form-group">
            <input type="text" name="display_name" id="display_name" value="" maxLength="100"
                   placeholder="Nome" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="meeting_number" id="meeting_number" value="" maxLength="200"
                   style="width:150px" placeholder="Número da sala" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="meeting_pwd" id="meeting_pwd" value="" style="width:150px"
                   maxLength="32" placeholder="Senha" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" name="meeting_email" id="meeting_email" value="" style="width:150px"
                   maxLength="32" placeholder="E-mail" class="form-control">
        </div>

        <div class="form-group">
            <select id="meeting_role" class="sdk-select">
                <option value=0>Atendente</option>
                <option value=1>Host</option>
                <option value=5>Assistente</option>
            </select>
        </div>
        <div class="form-group">
            <select id="meeting_china" class="sdk-select">
                <option value=0>Global</option>
                <option value=1>China</option>
            </select>
        </div>
        <div class="form-group">
            <select id="meeting_lang" class="sdk-select">
                <option value="en-US">English</option>
                <option value="pt-PT">Portuguese Portuguese</option>
            </select>
        </div>

        <input type="hidden" value="" id="copy_link_value" />
        <button type="submit" class="btn btn-primary" id="join_meeting">Entrar</button>
        @*<button type="submit" class="btn btn-primary" id="join_iframe">Join iFrame</button>*@
        <button type="submit" class="btn btn-primary" id="clear_all">Limpar form</button>
        <button type="button" link="" onclick="window.copyJoinLink('#copy_join_link')"
                class="btn btn-primary" id="copy_join_link">
            Copiar link para acesso direto
        </button>


    </form>
</div>

